---
import PageLayout from "../layouts/PageLayout.astro";
---

<style>
  main {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: x-large;
  }
</style>
<PageLayout title='Page Not Found'>
  <main>
    <h1 class='jost-regular'>Page Not Found</h1>
  </main>
</PageLayout>
